<header>
    <a href="/" target="_self">
        <div class="logo">
            <img class="headerIcon" src="{{ site.data.info.team_icon  | relative_url }}" />
        </div>
    </a>

    <nav class="scroll">
        <ul>
            {% for page in site.pages %} {% if page.include_in_header == true %}
            <li>
                <a href="{{ page.url | relative_url }}" target="_self"
                    >{{ page.title }}</a
                >
            </li>
            {% endif %} {% endfor %}
        </ul>
    </nav>
</header>
