<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">WULD</title>
	<meta name="description" content="Wearable Ultraviolet Light Dissociator">

	<link rel="shortcut icon" href="/assets/logoANGUS.png">

	<link rel="stylesheet" href="/main.css">

	<!-- Uikit  -->
	<link rel="stylesheet" href="/uikit/css/uikit.min.css" />
	<script src="/uikit/js/uikit.min.js"></script>
	<script src="/uikit/js/uikit-icons.min.js"></script>
</head>
