<header class="header-sticky" style="z-index: 980;" uk-sticky="top: 400px; animation: uk-animation-slide-top">
  <div class="uk-container uk-flex uk-flex-between">
    <div class="angus-logo">
      <a href="/"  target="_self"><img data-src="/assets/logoAngusIdeas.png" alt="Angus Ideas" uk-img /></a>
    </div>

    <div class="header-links uk-flex flex-middle uk-text-center uk-flex-center">
      <a class="" href="/justification" target="_self">
        Justification
      </a>
      <a class="" href="/team" target="_self">
        Team
      </a>
    </div>
  </div>
</header>
