<!-- <header class="header-sticky" style="z-index: 980;" uk-sticky="top: 400px; animation: uk-animation-slide-top">
  <div class="uk-container uk-flex uk-flex-between">
    <div class="angus-logo">
      <a href="/"  target="_self"><img data-src="/assets/logoAngusIdeas.png" alt="Angus Ideas" uk-img /></a>
    </div>

    <div class="header-links uk-flex flex-middle uk-text-center uk-flex-center">
      <a class="" href="/justification" target="_self">
        Justification
      </a>
      <a class="" href="/team" target="_self">
        Team
      </a>
    </div>
  </div>
</header> -->
<nav class="uk-navbar-container uk-margin header-sticky"  uk-navbar uk-sticky="top: 400px; animation: uk-animation-slide-top">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/" target="_self"><img data-src="/assets/logoAngusIdeas.png" alt="Angus Ideas" uk-img width="300px" /></a>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="/justification" target="_self">
                    Justification
                </a>
            </li>
            <li>
                <a href="/team" target="_self">
                    Team
                </a>
            </li>
        </ul>
</nav>
