<div class="header-home uk-child-width-1-2@m" uk-grid>
    <div class="header-title uk-flex" uk-grid>
        <div class="uk-width-auto@m">

            <img data-src="/assets/logoWULD.png" uk-img />
        </div>
        <div class="uk-width-expand@m header-title-text">
            <h1 class="uk-heading-small">WULD</h1>
            <p>Wearable Ultraviolet Light Dissociator</p>
        </div>
    </div>

    <div class="cap-container uk-flex uk-flex-right uk-flex-first@m">
        <!-- <img data-src="/assets/cap3D.jpg" uk-img /> -->
        <video
            class="cap3D"
            src="https://yootheme.com/site/images/media/yootheme-pro.mp4"
            loop
            muted
            playsinline
            uk-video="autoplay: inview"
        ></video>
    </div>
</div>
