.header-home {
    min-height: 350px;
    margin-bottom: 100px !important;

    // color: #fff;

    .header-title {
        h1 {
            margin-bottom: 0;
            // color: #fff;
            font-weight: 200;
        }

        p {
            font-size: 20px;
            margin-top: 13px;
        }

        .header-title-text {
            padding: 0;
        }

        img {
            width: 180px;
            border-radius: 25px;
        }
    }

    .uk-flex {
        align-items: center;
    }

    .uk-flex-right {
        padding-right: 30px;
    }

    .uk-first-column {
        padding: 0;
    }
}

.cap-container {
    img,
    .cap3D {
        width: 349px;
        height: 300px;
        background-color: white;
        margin-right: 60px;
        margin-bottom: -120px !important;
        border-radius: 25px;
        box-shadow: 0px 7px 20px 0px black;
    }
}

@media (max-width: 960px) {
    .cap-container {
        justify-content: center !important;

        .cap3D {
            margin-right: 0;
        }
    }

    .header-title {
        margin: 0 0 40px !important;
        text-align: center;

        .header-title-text {
            // padding: 20px 0 !important;
        }
    }

    .header-home {
        .uk-flex-right {
            padding-right: 0;
        }
    }
}
